<div class="row">
	<div class="col-sm-12">
	    <a><strong>IMPORTANTE</strong><br>
	    <i class="fas fa-check-circle text-success"></i> Cortar 4 testigos con medidas de 25cm x 25cm<br>
	    <i class="fas fa-check-circle text-success"></i> Marcar con una muesca el hilo de las telas<br>
	    <strong style="color:#ff0000"><i class="fas fa-exclamation-triangle"></i> Guardar un testigo original</strong></a><hr>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Operario</label>
            <select class="form-control" id="realizadoPeque">
                <option value="selecciona">Selecciona uno...</option>
                <option value="tela">Tela</option>
                <option value="forro">Forro</option>
                <option value="material">Otro material</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label style="font-size: 15px;">Fecha y hora de realizaci&oacute;n</label>
            <input type="datetime-local" class="form-control" id="adherenciaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label style="font-size: 15px;">Fecha y hora de finalizaci&oacute;n</label>
            <input type="datetime-local" class="form-control" id="adherenciaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-12">
	    <hr><h4>Descripci&oacute;n:<strong> Prueba de vapor</strong></h4>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="status">Entretela</label>
            <select class="form-control" id="entretelaPeque" name="entretelaPeque">
                <option value="selecciona">Selecciona uno...</option>
                <option value="tela">Tela</option>
                <option value="forro">Forro</option>
                <option value="material">Otro material</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label style="font-size: 15px;">Adherencia</label>
            <input type="text" class="form-control" id="adherenciaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="status">Proveedor</label>
            <select class="form-control" id="entretelaPeque" name="entretelaPeque">
                <option value="selecciona">Selecciona uno...</option>
                <option value="tela">Tela</option>
                <option value="forro">Forro</option>
                <option value="material">Otro material</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label style="font-size: 15px;">Temperatura</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label style="font-size: 15px;">Tiempo (minutos)</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="5">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label style="font-size: 15px;">Presi&oacute;n</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label style="font-size: 15px;">Medida final del hilo</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label style="font-size: 15px;">Medida final de la trama</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-12">
	    <h5>Resultado</h5>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">Diferencia hilo</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">(100cm/_____cm)</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">Diferencia trama</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">(100cm/_____cm)</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-12">
	  <div class="form-group">
	    <label style="font-size: 15px;">Observaciones</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Especificar"></textarea>
	  </div>
    </div>
    <div class="col-sm-12">
	    <hr><h4>Descripci&oacute;n:<strong> Prueba de fusi&oacute;n</strong></h4>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label style="font-size: 15px;">Medida final del hilo</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label style="font-size: 15px;">Medida final de la trama</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-12">
	    <h5>Resultado</h5>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">Diferencia hilo</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">(100cm/_____cm)</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">Diferencia trama</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">(100cm/_____cm)</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-12">
	  <div class="form-group">
	    <label style="font-size: 15px;">Observaciones</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Especificar"></textarea>
	  </div>
    </div>
    <div class="col-sm-12">
	    <hr><h4>Descripci&oacute;n:<strong> Plancha con vapor</strong></h4>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label style="font-size: 15px;">Medida final del hilo</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label style="font-size: 15px;">Medida final de la trama</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-12">
	    <h5>Resultado</h5>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">Diferencia hilo</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">(100cm/_____cm)</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">Diferencia trama</label>
            <input type="number" class="form-control" id="finalTramaPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label style="font-size: 15px;">(100cm/_____cm)</label>
            <input type="number" class="form-control" id="finalHiloPeque" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-12">
	  <div class="form-group">
	    <label style="font-size: 15px;">Observaciones</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Especificar"></textarea>
	  </div>
    </div>
    <div class="form-group col-sm-12">
	    <button type="button" class="btn btn-primary next-step float-right">Guardar</button>
	</div>
</div>