<div class="row">
    <div class="col-sm-12">
        <a><strong>IMPORTANTE</strong><br>
	    <i class="fas fa-check-circle text-success"></i> Cortar 4 testigos con medidas de 25cm x 25cm<br>
	    <i class="fas fa-check-circle text-success"></i> Marcar con una muesca el hilo de las telas<br>
	    <strong style="color:#ff0000"><i class="fas fa-exclamation-triangle"></i> Guardar un testigo original</strong></a>
        <hr>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Tela</label>
            <select class="form-control idtelas" id="telasss">
                <option>Selecciona uno...</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label>Operario</label>
            <select class="form-control sa" id="operarioContaminacion">
                <option value="selecciona">Selecciona uno...</option>
                <option value="tela">Tela</option>
                <option value="forro">Forro</option>
                <option value="material">Otro material</option>
            </select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label style="font-size: 15px;">Fecha y hora de realizaci&oacute;n</label>
            <input type="datetime-local" class="form-control" id="fechaRealizacionContaminacion" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label style="font-size: 15px;">Fecha y hora de finalizaci&oacute;n</label>
            <input type="datetime-local" class="form-control" id="fechaFinalizacionContaminacion" placeholder="23.2">
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
        <h4>Descripci&oacute;n:<strong> Resultado de contaminaci&oacute;n</strong></h4>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label>Calidad</label>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" value="buena" id="buenaConta" name="calidadConta">
                <label for="buenaConta" class="custom-control-label">Buena</label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" value="regular" id="regularConta" name="calidadConta">
                <label for="regularConta" class="custom-control-label">Regular</label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" value="mala" id="malaConta" name="calidadConta">
                <label for="malaConta" class="custom-control-label">Mala</label>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label style="font-size: 15px;">Observaciones</label>
            <textarea class="form-control" id="observacionesReultContaminacion" rows="3" placeholder="Especificar"></textarea>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <a th:href="${'calidad'}" class="btn btn-danger" data-dismiss="modal">Cancelar</a>
        <a type="button" class="btn btn-primary next-step float-right" th:href="${'calidad'}" onclick="PruebaContaminacion()">Guardar</a>
    </div>
</div>