<div class="small-box bg-primary">
    <div class="inner">
        <h3>Unidades de medida</h3>
        <button data-toggle="modal" data-target="#detalleMedida" class="btn btn-link text-white" style="padding-left: 1px;"><i class="fas fa-info-circle"></i> Detalle</button>
    </div>
    <div class="icon">
        <i class="ion ion-easel"></i>
    </div>
    <a class="small-box-footer">
        <button onclick="agregarMedida()" class="btn btn-link text-white">Agregar <i class="fas fa-plus-circle"></i></button>
    </a>
</div>
<!-- Modal Marcas Tabla -->
<div class="modal fade" id="detalleMedida" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" id="modalMedidaMobile">
        <div class="modal-content" id="contenedorTabla8">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Unidades de medida <button onclick="agregarMedida()" class="btn btn-light btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="right" data-content="Agregar" style="color: #007bff"><i class="fas fa-plus"></i></button></h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table table-striped table-bordered" id="quitar8">
                <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Nombre</th>
                        <th>Cambios</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>