<!-- Modal -->
<div class="modal fade" id="detalles-proceso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link  active" href="#trazo" role="tab" data-toggle="tab" aria-selected="true">Trazo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#corte" role="tab" data-toggle="tab">Corte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#confeccion" role="tab" data-toggle="tab">Confecci&oacute;n</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#planchado" role="tab" data-toggle="tab">Planchado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#terminado" role="tab" data-toggle="tab">Terminado</a>
                    </li>
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="trazo">
                    	<div class="form-group">
						    <label for="exampleFormControlSelect1">Operario</label>
						    <select class="form-control" id="exampleFormControlSelect1">
						      <option>Operario 1</option>
						      <option>Operario 2</option>
						      <option>Operario 3</option>
						      <option>Operario 4</option>
						      <option>Operario 5</option>
						    </select>
						</div>
						<div class="form-group">
							<a class="btn btn-primary btn-circle btn-sm popoverxd text-white" data-container="body" data-toggle="modal" data-placement="top"data-content="Agregar"><i class="fas fa-plus"></i></a>
						</div>
                    	<table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                    <th scope="col">Tiempo</th>
                                    <th scope="col">Controles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>03/01/2020 11:00</td>
                                    <td>04/01/2020 16:00</td>
                                    <td>1 dia 5 horas</td>
                                    <td class="tdcenter"><i class="fas fa-play text-success"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-pause text-warning"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-stop text-danger"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--div role="tabpanel" class="tab-pane active" id="corte">
                    	<div class="form-group">
						    <label for="exampleFormControlSelect1">Operario</label>
						    <select class="form-control" id="exampleFormControlSelect1">
						      <option>Operario 1</option>
						      <option>Operario 2</option>
						      <option>Operario 3</option>
						      <option>Operario 4</option>
						      <option>Operario 5</option>
						    </select>
						</div>
						<div class="form-group">
							<a class="btn btn-primary btn-circle btn-sm popoverxd text-white" data-container="body" data-toggle="modal" data-placement="top"data-content="Agregar"><i class="fas fa-plus"></i></a>
						</div>
                    	<table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>03/01/2020</td>
                                    <td>04/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="confeccion">
                    	<div class="form-group">
						    <label for="exampleFormControlSelect1">Operario</label>
						    <select class="form-control" id="exampleFormControlSelect1">
						      <option>Operario 1</option>
						      <option>Operario 2</option>
						      <option>Operario 3</option>
						      <option>Operario 4</option>
						      <option>Operario 5</option>
						    </select>
						</div>
						<div class="form-group">
							<a class="btn btn-primary btn-circle btn-sm popoverxd text-white" data-container="body" data-toggle="modal" data-placement="top"data-content="Agregar"><i class="fas fa-plus"></i></a>
						</div>
                    	<table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>03/01/2020</td>
                                    <td>04/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="planchado">
                    	<div class="form-group">
						    <label for="exampleFormControlSelect1">Operario</label>
						    <select class="form-control" id="exampleFormControlSelect1">
						      <option>Operario 1</option>
						      <option>Operario 2</option>
						      <option>Operario 3</option>
						      <option>Operario 4</option>
						      <option>Operario 5</option>
						    </select>
						</div>
						<div class="form-group">
							<a class="btn btn-primary btn-circle btn-sm popoverxd text-white" data-container="body" data-toggle="modal" data-placement="top"data-content="Agregar"><i class="fas fa-plus"></i></a>
						</div>
                    	<table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>03/01/2020</td>
                                    <td>04/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="terminado">
                    	<div class="form-group">
						    <label for="exampleFormControlSelect1">Operario</label>
						    <select class="form-control" id="exampleFormControlSelect1">
						      <option>Operario 1</option>
						      <option>Operario 2</option>
						      <option>Operario 3</option>
						      <option>Operario 4</option>
						      <option>Operario 5</option>
						    </select>
						</div>
						<div class="form-group">
							<a class="btn btn-primary btn-circle btn-sm popoverxd text-white" data-container="body" data-toggle="modal" data-placement="top"data-content="Agregar"><i class="fas fa-plus"></i></a>
						</div>
                    	<table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>03/01/2020</td>
                                    <td>04/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</div>