<div id="detalles-proceso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header row d-flex justify-content-between mx-1 mx-sm-3 mb-0 pb-0 border-0">
                <div class="tabs active" id="tab01">
                    <h6 class="font-weight-bold">Trazo</h6>
                </div>
                <div class="tabs" id="tab02">
                    <h6 class="text-muted">Corte</h6>
                </div>
                <div class="tabs" id="tab03">
                    <h6 class="text-muted">Confecci&oacute;n</h6>
                </div>
                <div class="tabs" id="tab04">
                    <h6 class="text-muted">Planchado</h6>
                </div>
                <div class="tabs" id="tab05">
                    <h6 class="text-muted">Terminado</h6>
                </div>
            </div>
            <div class="line"></div>
            <div class="modal-body p-0">
                <fieldset class="show" id="tab011">
                    <div class="bg-light">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>01/01/2020</td>
                                    <td>02/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <fieldset id="tab021">
                    <div class="bg-light">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>03/01/2020</td>
                                    <td>04/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <fieldset id="tab031">
                    <div class="bg-light">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>05/01/2020</td>
                                    <td>06/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <fieldset id="tab041">
                    <div class="bg-light">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>07/01/2020</td>
                                    <td>08/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <fieldset id="tab051">
                    <div class="bg-light">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Operario</th>
                                    <th scope="col">Fecha de recepci&oacute;n</th>
                                    <th scope="col">Fecha de entrega</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Juan Jose Maria Morelos</th>
                                    <td>09/01/2020</td>
                                    <td>10/01/2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>