        <div class="card-body">
            <table id="mytablef" class="table table-borderless">
                <tr>
                    <th>Forro Composicion</th>
                    <th style="display:none;">Famila Composicion</th>
                    <th>Famila Composicion</th>

                </tr>
            <thead>
                <tbody>
                                                <tr th:each="listForroComposicon: ${listForroComposicon}">
                                                
                                                    <td th:text="${listForroComposicon[0]}"></td>
                                                    <td  style="display:none;"th:text="${listForroComposicon[1]}"></td>
                                                    <td  th:text="${listForroComposicon[2]}"></td>                                               
                                                </tr>     
                </tbody>
            </table>
            <table class="table table-borderless">
                <thead> 
                    <tr>
                        <th colspan="6">Clave:</th>
                        <th colspan="6">Nombre:</th>
                        <th colspan="6">Ancho:</th>
                        <th colspan="6">Descripci&oacute;n:</th>
                    </tr>
                    <tr>
                        <td colspan="6" th:text="${forro.idText}"></td>
                        <td colspan="6" th:text="${forro.nombreForro}"></td>
                        <td colspan="6" th:text="${forro.anchoForro}"></td>
                        <td colspan="6" th:text="${forro.descripcionForro}"></td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->