<div class="col-12">
    <!-- Default box -->
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="card-title">Consulta de forro</h3>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th colspan="6">Clave:</th>
                        <th colspan="6">Nombre:</th>
                        <th colspan="6">Composici&oacute;n:</th>
                    </tr>
                    <tr>
                        <td colspan="6">TEL0001</td>
                        <td colspan="6">Tela Gold Prime</td>
                        <td colspan="6">50% Algodon 50% Poliester</td>
                    </tr>
                    <tr>
                        <th colspan="12">Descripci&oacute;n:</th>
                    </tr>
                    <tr>
                        <td colspan="12">Tela dorada con toques negros la cual tiene una simetria perfecta para combinaciones con entretela</td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>