<div class="card-body">
<div class="row d-none d-print-block">
                                <table class="table table-borderless table-sm">
                                    <thead>
                                        <tr style=" border: 1px solid #dddddd;border-right-width:0px;border-left-width:0px;border-top-width:0px;">
                                            <td style="width: 30%"><img class="h-50" src="/dist/img/logo.png"></td>
                                            <td style="width: 40%; font-size: 30px;" class="text-center"><strong>Reporte de Material</strong></td>
                                            <td style="width: 30%" class="text-right"><a class="fechaReporteMaterial"></a></td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
    <div class="form-group col-sm-12">
        <table id="mytable" class="table table-striped">
            <thead>
                <tr>
                    <th>Porcentaje</th>
                    <th style="display:none;">Composicion</th>
                    <th>Famila Composicion</th>
                </tr>
                <thead>
                <tbody>
                    <tr th:each="listTelaComposicon: ${listTelaComposicon}">

                        <td th:text="${listTelaComposicon[0]}"></td>
                        <td style="display:none;" th:text="${listTelaComposicon[1]}"></td>
                        <td th:text="${listTelaComposicon[2]}"></td>
                    </tr>
                </tbody>
        </table>
    </div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th colspan="2">Clave:</th>
                <th colspan="2">Nombre:</th>
                <th colspan="4">Familia de Composici&oacute;n:</th>
                <th colspan="2">Ancho(m):</th>
            </tr>
            <tr>
                <td colspan="2" th:text="${tela[0]}">TEL0001</td>
                <td colspan="2" th:text="${tela[1]}">Tela Gold Prime</td>
                <td colspan="4" th:text="${tela[1]}">50% Algodon 50% Poliester</td>
                <td colspan="2" th:text="${tela[2]}">1.24</td>
            </tr>
        </thead>
    </table>
    <div class="form-group col-sm-12">
        <table id="mytablePrenda" class="table table-striped">
            <thead>
                <tr>
                    <th>Prenda</th>
                    <th style="display:none;">id_prenda</th>
                </tr>
                <thead>
                <tbody>
                    <tr th:each="listVistaTelaPrenda: ${listVistaTelaPrenda}">
                        <td th:text="${listVistaTelaPrenda[1]}"></td>
                        <td style="display:none;" th:text="${listVistaTelaPrenda[0]}"></td>
                    </tr>
                </tbody>
        </table>
    </div>
    <table class="table table-borderless">
        <thead>
            <tr>
                
                <th colspan="2">Costo(m):</th>
                <th colspan="2">Estampado:</th>
                <th colspan="2">Color:</th>
                <th colspan="2">Proveedor:</th>
                <th colspan="2">Indicaciones:</th>
            </tr>
            <tr>
                
                <td colspan="2" th:text="${tela[3]}">90</td>
                <td colspan="2" th:text="${tela[4]}">Rayado</td>
                <td colspan="2" th:text="${tela[5]}">Azul</td>
                <td colspan="2" th:text="${tela[6]}">Parisina Inc.</td>
                <td colspan="2" th:text="${tela[7]}">No coser con aguja de caneva</td>
            </tr>
        </thead>
    </table>
    <!-- <table class="table table-borderless">
        <thead>
            <tr>
                <th colspan="2">Forro principal</th>
                <th colspan="2">Forro secundario 1</th>
                <th colspan="2">Forro secundario 2</th>
                <th colspan="2">Boton principal</th>
                <th colspan="2">Boton secundario 1</th>
                <th colspan="2">Boton secundario 2</th>
            </tr>
            <tr>
                <td colspan="2">Forro FOR0001</td>
                <td colspan="2">Forro FOR0002</td>
                <td colspan="2">Forro FOR0003</td>
                <td colspan="2">Boton BOT0001</td>
                <td colspan="2">Boton BOT0002</td>
                <td colspan="2">Boton BOT0003</td>
            </tr>
        </thead>
    </table> -->
</div>