<div class="col-12">
    <!-- Default box -->
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="card-title">Pruebas de lavado y pilling</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr class="tdcenter thead-dark">
                        <th rowspan="2" colspan="2">
                            Descripci&oacute;n
                        </th>
                        <th rowspan="1" colspan="2">
                            Medida final
                        </th>
                        <th rowspan="2" colspan="8">
                            Resultado
                        </th>
                    </tr>
                    <tr class="tdcenter thead-dark">
                        <th>Hilo</th>
                        <th>Trama</th>
                    </tr>
                    <tr class="tdcenter">
                        <th colspan="2">Prueba de lavado</th>
                        <td colspan="1">25.3</td>
                        <td colspan="1">26</td>
                        <td colspan="2">Diferencia hilo: 0.3</td>
                        <td colspan="2">(100cm/0.3)</td>
                        <td colspan="2">Diferencia trama: 1</td>
                        <td colspan="2">(100cm/1)</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-justify">Observaciones:</td>
                    </tr>
                    <tr class="tdcenter">
                        <th colspan="2">Solidez/Color</th>
                        <td colspan="10">Buena</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-justify">Observaciones:</td>
                    </tr>
                    <tr class="tdcenter">
                        <th colspan="2">Resultado del pilling</th>
                        <td colspan="10">Si</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text-justify">Observaciones:</td>
                    </tr>
                    </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>