
        <div class="card-body">
        <div class="row d-none d-print-block">
                                <table class="table table-borderless table-sm">
                                    <thead>
                                        <tr style=" border: 1px solid #dddddd;border-right-width:0px;border-left-width:0px;border-top-width:0px;">
                                            <td style="width: 30%"><img class="h-50" src="/dist/img/logo.png"></td>
                                            <td style="width: 40%; font-size: 30px;" class="text-center"><strong>Reporte de Material</strong></td>
                                            <td style="width: 30%" class="text-right"><a class="fechaReporteMaterial"></a></td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <td style="width: 50%"><strong>Clave:</strong> <a th:text="${material[0]}"></a></td>
                        <td style="width: 50%"><strong>Nombre:</strong> <a th:text="${material[1]}"></a></td>
                    </tr>
                    <tr>
                        <td><strong>Tipo de material:</strong> <a th:text="${material[2]}"></a></td>
                        <td><strong>Proceso al que aplica:</strong> <a th:text="${material[7]}"></a></td>
                    </tr>
                    <tr>
                    	<td><strong>Modelo:</strong> <a th:text="${material[6]}"></a></td>
                    	<td><strong>Tamaño:</strong> <a th:text="${material[4]}"></a> <a th:text="${material[5]}"></a></td>
                    </tr>
                    <tr>
                    	<td><strong>Uso:</strong> <a th:text="${material[9]}"></a></td>
                        <td ><strong>Color:</strong> <a th:text="${material[3]}"></a> <i class="fas fa-tint" th:style="'color:'+${material[12]}+';font-size: 20px;'"></i></td>
                    </tr>
                    <tr>
                        <td><strong>Proveedores:</strong> <a th:text="${material[10]}"></a></td>
                        <td><strong>Precio Unitario:</strong> $<a th:text="${material[8]}"></a>.00</td>
                    </tr>
                    <tr>
                    <td><strong>Descripci&oacute;n:</strong> <a th:text="${material[11]}"></a></td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->


