
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th colspan="3">Clave:</th>
                        <th colspan="3">Nombre:</th>
                        <th colspan="3">Tipo de material:</th>
                        <th colspan="3">Color:</th>
                        <th colspan="3">Tamaño:</th>
                    </tr>
                    <tr>
                        <td th:text="${material[0]}" colspan="3"></td>
                        <td th:text="${material[1]}" colspan="3"></td>
                        <td th:text="${material[2]}" colspan="3"></td>
                        <td colspan="3"><text th:text="${material[3]}+' '"></text><i class="fas fa-tint" th:style="'color:'+${material[12]}+';font-size: 20px;'"></i></td>
                        <td th:text="${material[4]}" colspan="3"></td>
                    </tr>
                    <tr>
                        <th colspan="3">Unidad de Medida:</th>
                        <th colspan="3">Modelo:</th>
                        <th colspan="3">Proceso al que aplica:</th>
                        <th colspan="3">Precio Unitario:</th>
                        <th colspan="3">Clasificación:</th>
                    </tr>
                    <tr>
                        <td th:text="${material[5]}" colspan="3"></td>
                        <td th:text="${material[6]}" colspan="3"></td>
                        <td th:text="${material[7]}" colspan="3"></td>
                        <td th:text="${material[8]}" colspan="3"></td>
                        <td th:text="${material[9]}" colspan="3"></td>
                    </tr>
                    <tr>
                        <th colspan="5">Proveedores:</th>
                        <th><th>Descripci&oacute;n:</th></th>
                    </tr>
                    <tr>
                        <td th:text="${material[10]}" colspan="6"></td>
                        <td th:text="${material[11]}" colspan="8"></td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->


