<div class="col-12">
    <!-- Default box -->
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="card-title">Consulta de tela</h3>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th colspan="2">Clave:</th>
                        <th colspan="2">Nombre:</th>
                        <th colspan="4">Descripci&oacute;n:</th>
                        <th colspan="4">Composici&oacute;n:</th>
                    </tr>
                    <tr>
                        <td colspan="2">TEL0001</td>
                        <td colspan="2">Tela Gold Prime</td>
                        <td colspan="4">Tela dorada con toques negros la cual tiene una simetria perfecta para combinaciones con entretela</td>
                        <td colspan="4">50% Algodon 50% Poliester</td>
                    </tr>
                </thead>
            </table>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th colspan="2">Ancho(m):</th>
                        <th colspan="2">Costo(m):</th>
                        <th colspan="2">Color:</th>
                        <th colspan="2">Prenda:</th>
                        <th colspan="2">Proveedor:</th>
                        <th colspan="2">Indicaciones:</th>
                    </tr>
                    <tr>
                        <td colspan="2">1.24</td>
                        <td colspan="2">90</td>
                        <td colspan="2">Dorada con negro</td>
                        <td colspan="2">Blusa</td>
                        <td colspan="2">Parisina Inc.</td>
                        <td colspan="2">Lavado en seco</td>
                    </tr>
                </thead>
            </table>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th colspan="2">Forro principal</th>
                        <th colspan="2">Forro secundario 1</th>
                        <th colspan="2">Forro secundario 2</th>
                        <th colspan="2">Boton principal</th>
                        <th colspan="2">Boton secundario 1</th>
                        <th colspan="2">Boton secundario 2</th>
                    </tr>
                    <tr>
                        <td colspan="2">Forro FOR0001</td>
                        <td colspan="2">Forro FOR0002</td>
                        <td colspan="2">Forro FOR0003</td>
                        <td colspan="2">Boton BOT0001</td>
                        <td colspan="2">Boton BOT0002</td>
                        <td colspan="2">Boton BOT0003</td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>