<div class="col-12">
    <!-- Default box -->
    <div class="card">
        <div class="card-header bg-dark">
            <h3 class="card-title">Consulta de forro</h3>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th colspan="3">Clave:</th>
                        <th colspan="3">Nombre:</th>
                        <th colspan="3">Tama&ntilde;o:</th>
                        <th colspan="3">Unidad de medida:</th>
                    </tr>
                    <tr>
                        <td colspan="3">TEL0001</td>
                        <td colspan="3">Tela Gold Prime</td>
                        <td colspan="3">Mediano</td>
                        <td colspan="3">Pieza</td>
                    </tr>
                    <tr>
                        <th colspan="12">Descripci&oacute;n:</th>
                    </tr>
                    <tr>
                        <td colspan="12">Tela dorada con toques negros la cual tiene una simetria perfecta para combinaciones con entretela</td>
                    </tr>
                    <tr>
                        <th colspan="3">Proceso:</th>
                        <th colspan="3">Modelo:</th>
                        <th colspan="3">Precio unitario:</th>
                        <th colspan="3">Clasificaci&oacute;n:</th>
                    </tr>
                    <tr>
                        <td colspan="3">PRO0001 Proceso 1</td>
                        <td colspan="3">Abrigo</td>
                        <td colspan="3">1500</td>
                        <td colspan="3">No recuerdo</td>
                    </tr>
                    <tr>
                        <th colspan="12">Marcas:</th>
                    </tr>
                    <tr>
                        <td colspan="12">Adidas, Nike, Joma</td>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>