<form class="row" style="display: none;" id="telaForm" name="telaForm" th:method="post" th:action="@{/guardar-tela}" enctype="multipart/form-data">
    
    <div class="form-group col-sm-5">
        <label for="razonEmpresa">Porcentaje</label>
        <input type="number"  min="1"   id="telaComposicion" name="telaComposicion" class="form-control"  placeholder="100">
    </div>
    <div class="form-group col-md-6">
        <label for="status">Composici&oacute;n</label>
        <select id="telaFamcomposicion" name="telaFamcomposicion" class="form-control selectCustom" data-live-search="true">
        	<option value="" >Selecciona uno...</option>
        	<option th:each="lisCom: ${lisCom}"
			th:value="${lisCom.idLookup}" th:text="${lisCom.nombreLookup}"></option>
            
        </select>
    </div>
     <div class="form-group col-sm-1">
     <label for="status">Agregar</label>
        <button id="adicionar" onclick="guardar()" class="btn btn-info rounded-circle" type="button"><i class="fas fa-plus"></i></button>
        
    </div>
     <div class="form-group col-sm-12">
        <table id="mytable" class="table table-striped">
        <thead>
        	<tr>
    			<th>Porcentaje</th>
    			<th style="display:none;">Composicion</th>
    			<th>Famila Composicion</th>
    			<th>Eliminar</th>

  			</tr>
  		<thead>
  			<tbody>
                                            <tr th:each="listTelaComposicon: ${listTelaComposicon}">
                                               
                                                <td th:text="${listTelaComposicon[0]}"></td>
                                                <td  style="display:none;"th:text="${listTelaComposicon[1]}"></td>
                                                <td  th:text="${listTelaComposicon[2]}"></td>
                                                <td  > <button type="button" name="remove" onclick="eliminar(this)" class="btn btn-danger btn_remove">Quitar</button></td>
                                               
                                            </tr>     
             </tbody>
        </table>
    </div>
    <div class="form-group col-sm-6">
        <label for="razonEmpresa">Nombre</label>
        <input type="text" th:field="*{tela.nombreTela}" class="form-control" placeholder="Tela lickra" required>
    </div>
    
    <div class="form-group col-sm-6">
        <label for="razonEmpresa">Famila Composicion</label>
        <select required id="telaFamcomposicion" class="form-control selectCustom" th:field="*{tela.idFamiliaComposicion}" data-live-search="true">
        	<option value="">Selecciona uno...</option>
        	<option th:each="lisFam: ${lisFam}"
			th:value="${lisFam.idLookup}" th:text="${lisFam.nombreLookup}"></option>
            
        </select>
    </div>
    
    
    <div class="form-group col-md-6">
        <label for="status">Prenda</label>
        <select class="form-control selectCustom" name="idPrenda"  id ="idPrenda" data-live-search="true">
        	<option value="">Selecciona uno...</option>
             <option th:each="listPrendas: ${listPrendas}"
			th:value="${listPrendas.idLookup}" th:text="${listPrendas.nombreLookup}"></option>
        </select>
    </div>
   
     <div class="form-group col-sm-1">
     <label for="status">Agregar</label>
        <button id="adicionarPrenda" onclick="guardarPrenda()" class="btn btn-info rounded-circle" type="button"><i class="fas fa-plus"></i></button>
        
    </div>
     <div class="form-group col-sm-12">
        <table id="mytablePrenda" class="table table-striped">
        <thead>
        	<tr>
    			<th>Prenda</th>
    			<th style="display:none;">id_prenda</th>
    			<th>Eliminar</th>

  			</tr>
  		<thead>
  			<tbody>
                                            <tr th:each="listVistaTelaPrenda: ${listVistaTelaPrenda}">
                                               
                                               
                                             
                                                <td  th:text="${listVistaTelaPrenda[1]}"></td>
                                                
                                                 <td style="display:none;"th:text="${listVistaTelaPrenda[0]}"></td>
                                                <td  > <button type="button" name="remove" onclick="eliminar(this)" class="btn btn-danger btn_remove">Quitar</button></td>
                                               
                                            </tr>     
             </tbody>
        </table>
    </div>
    
    
    <div class="form-group col-sm-4">
        <label for="rfcEmpresa">Ancho(m)</label>
        <input type="number"  min="1" required class="form-control" th:field="*{tela.ancho}" placeholder="1.2">
    </div>
    <div class="form-group col-sm-4">
        <label for="rfcEmpresa">Costo por metro</label>
        <input type="number"  min="1" required  class="form-control" th:field="*{tela.costoPorMetro}" placeholder="1.2">
    </div>
    <div class="form-group col-sm-4">
        <label for="status">Estampado</label>
        <select required class="form-control selectCustom"  th:field="*{tela.estampado}" data-live-search="true">
        	<option value="">Selecciona uno...</option>
            <option value ="Rayas verticales">Rayas verticales</option>
            <option value ="Rayas horizontales">Rayas horizontales</option>
            <option value ="Cuadros">Cuadros</option>
            <option value ="Fantasia">Fantasia</option>
            <option value ="Liso">Liso</option>
        </select>
        </select>
    </div>
    
    <div th:if="*{tela.estatusTela =='1'}" class="form-group col-sm-4">
        <label for="status">Calidad</label>
        
         <input required type="text" th:field="*{tela.idCalidad}" class="form-control" placeholder="Calidad">
       
    </div>
    
    <div th:if="*{tela.estatusTela =='1'}" class="form-group col-sm-4">
        <label for="status">Linea Tela</label>
        <input required type="text" th:field="*{tela.lineaTela}" class="form-control" placeholder="Linea">
    </div>
    
    <div th:if="*{tela.estatusTela =='1'}" class="form-group col-sm-4">
        <label for="status">Unidad de medida</label>
        <select required class="form-control selectCustom"   th:field="*{tela.idUnidadMedida}" data-live-search="true">
       <option th:each="listLookupsMed:${listLookupsMed}"
            
                    th:value="${listLookupsMed[0]}"
                    th:text="${listLookupsMed[1]}"
            
            />
            </select>
    </div>
    
    <div th:if="*{tela.estatusTela =='1'}" class="form-group col-sm-4">
        <label for="status">Consumo</label>
        
        <input type="text" required th:field="*{tela.consumo}" class="form-control" placeholder="Consumo">
    </div>
    
    <div th:if="*{tela.estatusTela =='1'}" class="form-group col-sm-4">
        <label for="status">Consumo promedio</label>      
        <input type="text" required th:field="*{tela.consumoPromedio}" class="form-control" placeholder="Consumo promedio">
    </div>
    
<!--     <div th:if="*{tela.estatusTela != null}" class="form-group col-sm-4"> -->
<!--         <label for="status">Tipo</label> -->
<!--         <input type="text" th:field="*{tela.tipo}" class="form-control" placeholder="Consumo promedio"> -->
<!--     </div> -->
    
    <div class="form-group col-sm-4">
        <label for="status">Color</label>
        <input type="text" required th:field="*{tela.Color}"class="form-control" placeholder="Rojo">
    </div>
    
    <div class="form-group col-sm-4">
        <label for="status">Codigo Color</label>
        
        
        <input required  type="color" th:field="*{tela.codigoColor}"  class="form-control" placeholder="Codigo Color">
    </div>
    
    <div class="form-group col-sm-4">
        <label for="status">Proveedor</label>
        <select required class="form-control selectCustom"  th:field="*{tela.idProveedor}" data-live-search="true">
        <option value="">Selecciona uno...</option>
            <option value ="1">MAR01 Nike</option>
            <option value ="2">MAR02 Adidas</option>
            <option value ="3">MAR03 Joma</option>
            <option value ="4">MAR04 I don't know</option>
            <option value ="5">MAR05 Palomitas acmen</option>
            <option value ="6">MAR06 Nike 2 xd</option>
        </select>
    </div>
    
    <div th:if="*{tela.estatusTela =='1'}"  class="form-group col-sm-6">
        <label for="status">Botones</label>
        <select required  class="selectpicker" multiple  name="botones" >
        
        <option th:each="listBtnSelec: ${listBtnSelec}"
			th:value="${listBtnSelec[0]}" th:text="${listBtnSelec[1]}" selected ></option>
        
        <option th:each="listBoton: ${listBoton}"
			th:value="${listBoton[0]}" th:text="${listBoton[1]}"></option>
        </select>
    </div>
     
     <div th:if="*{tela.estatusTela =='1'}"  class="form-group col-sm-6">
        <label for="status">Forro</label>
        <select required class="selectpicker" multiple  name="forros">
        <option th:each="listForroSelec: ${listForroSelec}"
			th:value="${listForroSelec[0]}" th:text="${listForroSelec[1]}" selected ></option>
         
        <option th:each="listForro: ${listForro}"
			th:value="${listForro[0]}" th:text="${listForro[1]}" ></option>
			</select>
    </div>
    
<!--     <div th:if="*{tela.estatusTela =='1'}" class="form-group col-sm-12"> -->
<!--         <label for="razonEmpresa">Existencia</label> -->
<!--         <input type="text" th:field="*{tela.existencia}" class="form-control" placeholder="100 "> -->
<!--     </div> -->


    
    <div  th:if="*{tela.estatusTela =='1'}" class="form-group col-sm-12">
        <label for="coloniaEmpresa">Descripcion</label>
        <textarea  required class="form-control" th:field="*{tela.descripcionTela}" placeholder="Especificar" rows="3"></textarea>
    </div>
    
    
    <div class="form-group col-sm-12">
        <label for="coloniaEmpresa">Indicaciones</label>
        <textarea required  class="form-control" th:field="*{tela.indicacion}" placeholder="Especificar" rows="3"></textarea>
    </div>
    
    <div  th:if="*{tela.estatusTela =='1'}" class="col-sm-12">
        <div class="form-group p-3 border p-2 rounded m-3">
            <div class="row">
                <div class="col-sm-3 text-center pt-2 border-right">
                    <label for="mainImageTela"><img th:src="@{'/uploads/telas/' + ${tela.foto}}"  th:onerror="this.src='/dist/img/preview.png'" alt="Placeholder" id="serviceImageTela" class="placeholder img-thumbnail" aria-describedby="imagePreviewHelp" /></label>
                    <small id="imagePreviewHelpTela" class="form-text text-muted">Previsualizaci&oacute;n de la imagen</small>
                </div>
               <div class="col"> 
                    <label for="mainImageTela">Tela</label>
                    <div class="input-group mb-3">
                        <input type="file"  name="imagenTela" th:value="*{tela.foto}"  class="form-control border p-1" id="mainImageTela"  />
                        <div class="input-group-append">
                            <span class="input-group-text bg-danger text-danger pointer" id="clearUploadTela"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                    <small id="imageHelpTela" class="form-text text-muted">Selecciona la foto que desea subir.</small>
                </div>
            </div>
        </div>
    </div>
   
    <div class="form-group col-sm-12">
    	<a th:href="@{/materiales}" class="btn btn-danger">Cancelar</a>
       <button onclick="arreglo()"   class="btn btn-primary next-step float-right" type="submit">Guardar</button>
    </div>
    
    <input name="txtTabla" type="hidden" id="txtTabla" value="">
    <input name="txtTabla2" type="hidden" id="txtTabla2" value="">
    
    <input name="id_prendas" type="hidden" id="id_prendas" value="">
    
    <input  type="hidden" th:field="*{tela.idTela}">
    <input  type="hidden" th:field="*{tela.idText}">
    <input  type="hidden" th:field="*{tela.creadoPor}">
    <input  type="hidden" th:field="*{tela.actualizadoPor}">
    <input  type="hidden" th:field="*{tela.fechaCreacion}">
    <input  type="hidden" th:field="*{tela.ultimaFechaModificacion}">
    <input  type="hidden" th:field="*{tela.foto}">
    <input  type="hidden" th:field="*{tela.estatusTela}">
    <input  type="hidden" th:field="*{tela.estatus}">
    
    
</form>
<script th:src="@{/dist/js/sweetalert.js}"></script>
<script>
function guardar(){
	if( document.getElementById("telaComposicion").value == null || 
			document.getElementById("telaComposicion").value.length == 0 || 
			/^\s+$/.test(document.getElementById("telaComposicion").value) ||
			 document.getElementById("telaFamcomposicion").selectedIndex == null ||
			 document.getElementById("telaFamcomposicion").selectedIndex == "" ) {
		Swal.fire({
	          position: 'center',
	          icon: 'error',
	          title: 'Complete Composicion o familia de composicion',
	          showConfirmButton: false,
	          timer: 1250
	        });
		}
	else{
		 
   		var telaComposicion = document.getElementById("telaComposicion").value;
    	var telaFamcomposicion = document.getElementById("telaFamcomposicion").value;    
    	var nombre = $( "#telaFamcomposicion option:selected" ).text() ;
    	
    	var vali;
    	var aux;
    	$('#mytable tr').each(function () {
    		vali= $(this).find('td').eq(1).html();
    		if ( vali == telaFamcomposicion ){
    			aux=0;
    			Swal.fire({
    		          position: 'center',
    		          icon: 'error',
    		          title: 'Ya ha seleccionado esa composicion',
    		          showConfirmButton: false,
    		          timer: 1250
    		        });
    		}
			
		 }); 
    	if (aux != 0){
    	var i = 1; //contador para asignar id al boton que borrara la fila
    	var fila = '<tr id="row' + i + '"><td>' + telaComposicion  + '</td> <td style="display:none;">' + telaFamcomposicion + '</td> <td >' + nombre + '</td>  <td><button type="button" name="remove" id="' + i + '" onclick="eliminar(this)" class="btn btn-danger btn_remove">Quitar</button></td>   </tr>'; //esto seria lo que contendria la fila
    	i++;
    	$('#mytable tr:first').after(fila);
    	$("#adicionados").text(""); //esta instruccion limpia el div adicioandos para que no se vayan acumulando
    	var nFilas = $("#mytable tr").length;
    	$("#adicionados").append(nFilas - 1);
    	//le resto 1 para no contar la fila del header
  	 	document.getElementById("telaFamcomposicion").value = '';
  		$('#telaFamcomposicion').change();
    	document.getElementById("telaComposicion").value ="";
    	}
	}  
}
function eliminar(t) {
	var td = t.parentNode;
    var tr = td.parentNode;
    var table = tr.parentNode;
    table.removeChild(tr);
	}
	
function arreglo() {
	var compo="";
	var idfam="";
	var contador=0;
	$('#mytable tr').each(function () {
		compo=$(this).find('td').eq(0).html()+","+compo;
		if ( $(this).find('td').eq(0).html() != null ){
				var suma = $(this).find('td').eq(0).html();
				contador = (Number(contador) +Number(suma));
			}
		idfam= $(this).find('td').eq(1).html()+","+idfam;
	  	document.getElementById("txtTabla").value = compo;
	  	document.getElementById("txtTabla2").value = idfam;
	 });
	var id="";
	$('#mytablePrenda tr').each(function () {
		id=$(this).find('td').eq(1).html()+","+id;
	  document.getElementById("id_prendas").value = id;
	 });
		var form = document.getElementById("telaForm");
		form.onsubmit = function(e){
			if(contador == 100){
			}else{
				document.telaForm.telaComposicion.focus()
				Swal.fire({
			          position: 'center',
			          icon: 'error',
			          title: 'Error es posible que el porcentaje no cumpla con el  100 % ',
			          showConfirmButton: false,
			          timer: 1300
			        });
				
			e.preventDefault();
			
			}
		}
	}
	
function guardarPrenda(){
	if( document.getElementById("idPrenda").value == null || 
			document.getElementById("idPrenda").value.length == 0) {
		Swal.fire({
	          position: 'center',
	          icon: 'error',
	          title: 'Error en prenda',
	          showConfirmButton: false,
	          timer: 1250
	        });
		}
	
	else{
    //var telaComposicion = document.getElementById("telaComposicion").value;
    var idPrenda = document.getElementById("idPrenda").value;   
    var nombre = $( "#idPrenda option:selected" ).text();
    
    var vali;
	var aux;
	$('#mytablePrenda tr').each(function () {
		vali= $(this).find('td').eq(1).html();
		if ( vali == idPrenda ){
			aux=0;
			Swal.fire({
		          position: 'center',
		          icon: 'error',
		          title: 'Ya ha seleccionado esa prenda',
		          showConfirmButton: false,
		          timer: 1250
		        });
		}
		
	 }); 
    
	if (aux != 0){
    		var i = 1; 
    
   			var fila = '<tr id="row' + i + '"><td>' + nombre  + '</td> <td style="display:none;">' + idPrenda + '</td>   <td><button type="button" name="remove" id="' + i + '" onclick="eliminar(this)" class="btn btn-danger btn_remove">Quitar</button></td>   </tr>'; //esto seria lo que contendria la fila
    		i++;
    		$('#mytablePrenda tr:first').after(fila);
    		$("#adicionados").text(""); //esta instruccion limpia el div adicioandos para que no se vayan acumulando
    		var nFilas = $("#mytable tr").length;
    		$("#adicionados").append(nFilas - 1);
    		//le resto 1 para no contar la fila del header
    		document.getElementById('idPrenda').options.selectedIndex = 0;
    		document.getElementById("idPrenda").value ="";
		}
	}  
}
</script>



