<form class="row" style="display: none;"  th:object="${forro}" name="forroForm" id="forroForm" th:action="@{/guardar-forro}" enctype="multipart/form-data" method="post">
	  
    <div class="form-group col-sm-5">
        <label for="razonEmpresa">Porcentaje</label>
        <input type="number" id="telaComposicionf" class="form-control"  placeholder="100">
    </div>
    <div class="form-group col-md-6">
        <label for="status">Composici&oacute;n</label>
        <select id="telaFamcomposicionf" class="form-control selectCustom" data-live-search="true">
        	<option value="">Seleccion a uno...</option>
        	<option th:each="lisFam: ${lisFam}"
			th:value="${lisFam.idLookup}" th:text="${lisFam.nombreLookup}"></option>
            
        </select>
    </div>
     <div class="form-group col-sm-1">
     <label for="status">Agregar</label>
        <button id="adicionarf" onclick="guardarf()" class="btn btn-info rounded-circle" type="button"><i class="fas fa-plus"></i></button>
        
    </div>
     <div class="form-group col-sm-12">
        <table id="mytablef" class="table table-striped">
        	<tr>
    			<th>Forro Composicion</th>
    			<th style="display:none;">Famila Composicion</th>
    			<th>Famila Composicion</th>
    			<th>Eliminar</th>

  			</tr>
  		<thead>
  			<tbody>
                                            <tr th:each="listForroComposicon: ${listForroComposicon}">
                                               
                                                <td th:text="${listForroComposicon[0]}"></td>
                                                <td  style="display:none;"th:text="${listForroComposicon[1]}"></td>
                                                <td  th:text="${listForroComposicon[2]}"></td>
                                                <td  > <button type="button" name="remove" onclick="eliminar(this)" class="btn btn-danger btn_remove">Quitar</button></td>
                                               
                                            </tr>     
             </tbody>
        </table>
    </div>
	<div class="form-group col-sm-6">
        <label for="razonEmpresa">Nombre</label>
        <input type="text" th:field="*{nombreForro}" class="form-control" id="forroDescripcion" placeholder="Forro Hueso 01">
    </div>
	
	<div class="form-group col-sm-6">
        <label for="razonEmpresa">Descripci&oacute;n</label>
        <input type="text" th:field="*{descripcionForro}"  class="form-control" id="forroDescripcion" placeholder="Forro Hueso 01">
    </div>
    
    
    <div class="form-group col-sm-6">
        <label for="rfcEmpresa">Ancho(m)</label>
        <input th:field="*{anchoForro}"  type="number" class="form-control" id="telaAncho" placeholder="1.2">
    </div>
    
    <div th:if="*{estatusForro  == '1'}" class="form-group col-sm-6">
        <label for="rfcEmpresa">Unidad de medida</label>
        <input th:field="*{idUnidadMedida}"  type="number" class="form-control" id="telaAncho" placeholder="1.2">
    </div>
    
    <div th:if="*{estatusForro  == '1'}"  class="form-group col-sm-6">
        <label for="rfcEmpresa">Consumo promedio</label>
        <input th:field="*{consumoPromedioForro}"  type="number" class="form-control" id="telaAncho" placeholder="1.2">
    </div>
    
    <div th:if="*{estatusForro  == '1'}"  class="form-group col-sm-6">
        <label for="rfcEmpresa">Existencias</label>
        <input th:field="*{existenciaForro}"  type="number" class="form-control" id="telaAncho" placeholder="1.2">
    </div>
    
    <div  th:if="*{estatusForro == '1'}" class="col-sm-12">
        <div class="form-group p-3 border p-2 rounded m-3">
            <div class="row">
                <div class="col-sm-3 text-center pt-2 border-right">
                    <label for="mainImageTela"><img th:src="@{'/uploads/forros/' + *{foto}}"  th:onerror="this.src='/dist/img/preview.png'" alt="Placeholder" id="serviceImageTela" class="placeholder img-thumbnail" aria-describedby="imagePreviewHelp" /></label>
                    <small id="imagePreviewHelpTela" class="form-text text-muted">Previsualizaci&oacute;n de la imagen</small>
                </div>
                <div class="col">
                    <label for="mainImageTela">Tela</label>
                    <div class="input-group mb-3">
                        <input type="file" name="imagenForro" class="form-control border p-1" id="mainImageTela"  />
                        <div class="input-group-append">
                            <span class="input-group-text bg-danger text-danger pointer" id="clearUploadTela"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                    <small id="imageHelpTela" class="form-text text-muted">Selecciona la foto que desea subir.</small>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group col-sm-12">
    <a th:href="${'materiales'}" class="btn btn-danger">Cancelar</a>
        <button onclick="arreglof()"  class="btn btn-primary next-step float-right" type="button">Guardar</button>
    </div>	
    <input name="txtTablaf" type="hidden" id="txtTablaf" value="">
    <input name="txtTabla2f" type="hidden" id="txtTabla2f" value="">
    
    <input  type="hidden" th:field="*{idForro}">
    <input  type="hidden" th:field="*{idText}">
    <input  type="hidden" th:field="*{creadoPor}">
    <input  type="hidden" th:field="*{actualizadoPor}">
    <input  type="hidden" th:field="*{fechaCreacion}">
    <input  type="hidden" th:field="*{ultimaFechaModificacion}">
     <input  type="hidden" th:field="*{estatusForro}">
     <input  type="hidden" th:field="*{estatus}">
    
</form>

<script>
function guardarf(){
	
	if( document.getElementById("telaComposicionf").value == null || 
			document.getElementById("telaComposicionf").value.length == 0 || 
			/^\s+$/.test(document.getElementById("telaComposicionf").value) ||
			 document.getElementById("telaFamcomposicionf").selectedIndex == null ||
			 document.getElementById("telaFamcomposicionf").selectedIndex == "" ) {
		Swal.fire({
	          position: 'center',
	          icon: 'error',
	          title: 'Error',
	          showConfirmButton: false,
	          timer: 1250
	        });
		}
	
	else {
		  var telaComposicionf = document.getElementById("telaComposicionf").value;
		    var telaFamcomposicionf = document.getElementById("telaFamcomposicionf").value;    
		    var nombref = $( "#telaFamcomposicionf option:selected" ).text()   
		    var i = 1; //contador para asignar id al boton que borrara la fila
		   
		    var fila = '<tr id="row' + i + '"><td>' + telaComposicionf + '</td> <td style="display:none;">' + telaFamcomposicionf + '</td> <td >' + nombref + '</td>  <td><button type="button" name="remove" id="' + i + '" onclick="eliminar(this)" class="btn btn-danger btn_remove">Quitar</button></td>   </tr>'; //esto seria lo que contendria la fila
		    i++;
		    $('#mytablef tr:first').after(fila);
		    $("#adicionadosf").text(""); //esta instruccion limpia el div adicioandos para que no se vayan acumulando
		    var nFilas = $("#mytablef tr").length;
		    $("#adicionadosf").append(nFilas - 1);
		    //le resto 1 para no contar la fila del header
		    document.getElementById("telaComposicionf").value ="";
		    document.getElementById("telaFamcomposicionf").value = "";
	}
	   
  
   
    
    
    
    
}
function eliminarf(t) {
	
	  var td = t.parentNode;
    var tr = td.parentNode;
    var table = tr.parentNode;
    table.removeChild(tr);
	 
	}
	
function arreglof() {
	valores=new Array();
	var compof="";
	var idfamf="" ;
	$('#mytablef tr').each(function () {
		compof=$(this).find('td').eq(0).html()+","+compof;
		
		idfamf= $(this).find('td').eq(1).html()+","+idfamf;
	      
	  
	  document.getElementById("txtTablaf").value = compof;
	  document.getElementById("txtTabla2f").value = idfamf;
	  
	  
	  
	 });
	 document.forroForm.submit()
	}

	
</script>

