<form class="row" style="display: none;" id="telaForm" name="telaForm" th:method="post" th:action="@{/guardar-tela}" enctype="multipart/form-data">
    
    <div class="form-group col-sm-5">
        <label for="razonEmpresa">Composici&oacute;n</label>
        <input type="text" id="telaComposicion" class="form-control"  placeholder="100% algod&oacute;n">
    </div>
    <div class="form-group col-md-6">
        <label for="status">Familia de composici&oacute;n</label>
        <select id="telaFamcomposicion" class="form-control" >
        	<option value="">Selecciona uno...</option>
        	<option th:each="lisFam: ${lisFam}"
			th:value="${lisFam.idLookup}" th:text="${lisFam.nombreLookup}"></option>
            
        </select>
    </div>
     <div class="form-group col-sm-1">
     <label for="status">Agregar</label>
        <button id="adicionar" onclick="guardar()" class="btn btn-info rounded-circle" type="button"><i class="fas fa-plus"></i></button>
        
    </div>
     <div class="form-group col-sm-12">
        <table id="mytable" class="table table-striped">
        	<tr>
    			<th>Tela Composicion</th>
    			<th style="display:none;">Famila Composicion</th>
    			<th>Famila Composicion</th>
    			<th>Eliminar</th>

  			</tr>
        </table>
    </div>
    <div class="form-group col-sm-12">
        <label for="razonEmpresa">Nombre</label>
        <input type="text" th:field="*{tela.nombreTela}" class="form-control" placeholder="Tela lickra">
    </div>
    <div class="form-group col-sm-4">
        <label for="rfcEmpresa">Ancho(m)</label>
        <input type="number" class="form-control" th:field="*{tela.ancho}" placeholder="1.2">
    </div>
    <div class="form-group col-sm-4">
        <label for="rfcEmpresa">Costo por metro</label>
        <input type="number" class="form-control" th:field="*{tela.costoPorMetro}" placeholder="1.2">
    </div>
    <div class="form-group col-sm-4">
        <label for="status">Prenda</label>
        <select class="form-control" th:field="*{tela.idPrenda}">
        	<option value="">Selecciona uno...</option>
             <option th:each="listPrendas: ${listPrendas}"
			th:value="${listPrendas.idPrenda}" th:text="${listPrendas.nombrePrenda}"></option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="status">Color</label>
        <select class="form-control" th:field="*{tela.idColor}">
        <option value="">Selecciona uno...</option>
            <option th:each="listColor: ${listColor}"
			th:value="${listColor.idLookup}" th:text="${listColor.nombreLookup}"></option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="status">Proveedor</label>
        <select class="form-control"  th:field="*{tela.idProveedor}">
        <option value="">Selecciona uno...</option>
            <option value ="1">MAR01 Nike</option>
            <option value ="2">MAR02 Adidas</option>
            <option value ="3">MAR03 Joma</option>
            <option value ="4">MAR04 I don't know</option>
            <option value ="5">MAR05 Palomitas acmen</option>
            <option value ="6">MAR06 Nike 2 xd</option>
        </select>
    </div>
    
    
    <div class="form-group col-sm-12">
        <label for="coloniaEmpresa">Indicaciones</label>
        <textarea class="form-control" th:field="*{tela.indicacion}" placeholder="Especificar" rows="3"></textarea>
    </div>
   
    <input type="hidden" class="form-control"  id="telaEstatus" value="2">
    <div class="form-group col-sm-12">
       <button onclick="arreglo()"  class="btn btn-primary next-step float-right" type="button">Adicionar a la tabla</button>
      
        
         
    </div>
    <input  type="hidden" th:field="*{tela.creadoPor}">
    <input  type="hidden" th:field="*{tela.actualizadoPor}">
    <input  type="hidden" th:field="*{tela.fechaCreacion}">
    <input  type="hidden" th:field="*{tela.ultimaFechaModificacion}">
    
    <input name="txtTabla" type="hidden" id="txtTabla" value="">
    <input name="txtTabla2" type="hidden" id="txtTabla2" value="">
    
</form>
<html xmlns:th="http://www.thymeleaf.org">
<script>
function guardar(){
	   
    var telaComposicion = document.getElementById("telaComposicion").value;
    var telaFamcomposicion = document.getElementById("telaFamcomposicion").value;    
    var nombre = $( "#telaFamcomposicion option:selected" ).text()   
    var i = 1; //contador para asignar id al boton que borrara la fila
   
    var fila = '<tr id="row' + i + '"><td>' + telaComposicion + '</td> <td style="display:none;">' + telaFamcomposicion + '</td> <td >' + nombre + '</td>  <td><button type="button" name="remove" id="' + i + '" onclick="eliminar(this)" class="btn btn-danger btn_remove">Quitar</button></td>   </tr>'; //esto seria lo que contendria la fila
    i++;
    $('#mytable tr:first').after(fila);
    $("#adicionados").text(""); //esta instruccion limpia el div adicioandos para que no se vayan acumulando
    var nFilas = $("#mytable tr").length;
    $("#adicionados").append(nFilas - 1);
    //le resto 1 para no contar la fila del header
    document.getElementById("telaComposicion").value ="";
    document.getElementById("telaFamcomposicion").value = "";
   
    
    
    
    
}
function eliminar(t) {
	
	  var td = t.parentNode;
    var tr = td.parentNode;
    var table = tr.parentNode;
    table.removeChild(tr);
	 
	}
	
function arreglo() {
	valores=new Array();
	var compo="";
	var idfam="" ;
	$('#mytable tr').each(function () {
		compo=$(this).find('td').eq(0).html()+","+compo;
		
		idfam= $(this).find('td').eq(1).html()+","+idfam;
	      
	  
	  document.getElementById("txtTabla").value = compo;
	  document.getElementById("txtTabla2").value = idfam;
	  
	  
	  
	 });
	document.telaForm.submit()
	}

	
</script>


