<form class="row" style="display: none;" id="forroForm">
	<div class="form-group col-sm-6">
        <label for="razonEmpresa">Descripci&oacute;n</label>
        <input type="text" class="form-control" id="forroDescripcion" placeholder="Forro Hueso 01">
    </div>
    <div class="form-group col-sm-6">
        <label for="razonEmpresa">Composici&oacute;n</label>
        <input type="text" class="form-control" id="forroComposicion" placeholder="100% algod&oacute;n">
    </div>
    <div class="form-group col-md-6">
        <label for="status">Familia de composici&oacute;n</label>
        <select multiple class="form-control" id="forroFamcomposicion">
            <option>COM01 100% Vegano</option>
            <option>COM02 1% Maldad 99% Aire caliente</option>
            <option>COM03 100% de lagrimas</option>
            <option>COM04 99.9% bacterias </option>
            <option>COM05 50% helado</option>
            <option>COM06 100% todo se derrumbo dentro de mi</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="rfcEmpresa">Ancho(m)</label>
        <input type="number" class="form-control" id="telaAncho" placeholder="1.2">
    </div>
    <input type="hidden" class="form-control" id="forroEstatus" value="2">
    <div class="form-group col-sm-12">
        <button type="button" class="btn btn-primary next-step float-right">Agregar</button>
    </div>
</form>