<form class="row" style="display: none;" th:object="${forro}" id="forroForm" th:action="@{guardar-forro}" method="post">
	<div class="form-group col-sm-6">
        <label for="razonEmpresa">Nombre</label>
        <input type="text" th:field="*{nombreForro}" class="form-control" id="forroDescripcion" placeholder="Forro Hueso 01">
    </div>
	
	<div class="form-group col-sm-6">
        <label for="razonEmpresa">Descripci&oacute;n</label>
        <input type="text" th:field="*{descripcionForro}"  class="form-control" id="forroDescripcion" placeholder="Forro Hueso 01">
    </div>
    <div class="form-group col-sm-6">
        <label for="razonEmpresa">Composici&oacute;n</label>
        <input type="text" th:field="*{composicionForro}"  class="form-control" id="forroComposicion" placeholder="100% algod&oacute;n">
    </div>
    <div class="form-group col-md-6">
        <label for="status">Familia de composici&oacute;n</label>
        <select th:field="*{idFamiliaComposicion}"  class="form-control" id="forroFamcomposicion">
           <option th:each="lisFam: ${lisFam}"
			th:value="${lisFam.idLookup}" th:text="${lisFam.nombreLookup}"></option>
			
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="rfcEmpresa">Ancho(m)</label>
        <input th:field="*{anchoForro}"  type="number" class="form-control" id="telaAncho" placeholder="1.2">
    </div>
    <input type="hidden" class="form-control" id="forroEstatus" value="2">
    <div class="form-group col-sm-12">
        <input type="submit" class="btn btn-primary next-step float-right" value="Guardar">
    </div>
    
   
    
    
    
    
    
</form>