


<form class="row" style="display: none;" id="materialForm"  th:object="${material}" th:action="@{guardar}" method="post">
    
    
    
    
    <div class="form-group col-md-12">
        <label for="idLookup">Material a agregar</label>
        <select class="form-control" th:field="*{idLookup}">
               <option th:each="listLookupsMat:${listLookupsMat}" th:value="${listLookupsMat[0]}" th:text="${listLookupsMat[1]}"/>
       
        </select>
    </div>
    <div class="form-group col-sm-3">
        <label   for="materialDescripcion">Descripci&oacute;n</label>
        <input type="text"   th:field="*{descripcionMaterial}" class="form-control" id="materialDescripcion" placeholder="material tela principal">
    </div>
    <div class="form-group col-sm-3">
        <label   for="unidadMedida">Unidad medida</label>
         <select multiple class="form-control"   th:field="*{unidadMedida}"  id="unidadMedida">
                    <option th:each="listLookupsMed:${listLookupsMed}"
            
                    th:value="${listLookupsMed[0]}"
                    th:text="${listLookupsMed[1]}"
            
            />
           
            
        </select>
    </div>
    
    
    
       <div class="form-group col-sm-3">
        <label   for="clasificacion">Clasificacion</label>
         <select multiple class="form-control"  th:field="*{clasificacion}" id="clasificacion">
                    <option th:each="listLookupsClasificacion:${listLookupsClasificacion}"
            
                    th:value="${listLookupsClasificacion[0]}"
                    th:text="${listLookupsClasificacion[1]}"
            
            />
           
            
        </select>
    </div>
    
    <div class="form-group col-sm-3">
        <label    for="materialModelo">Modelo</label>
        <input type="text" th:field="*{modelo}" class="form-control" id="materialModelo" placeholder="Abrigo">
    </div>
    <div class="form-group col-sm-3">
        <label   for="idProceso"  >Clave proceso</label>
        <select multiple class="form-control"  th:field="*{idProceso}" id="idProceso">
                <option th:each="listClaveProceso:${listClaveProceso}"
            
                    th:value="${listClaveProceso[0]}"
                    th:text="${listClaveProceso[1]}"
            
            />
            
        </select>
    </div>
    <div class="form-group col-sm-3">
        <label    for="precioUnitario">Precio Unitario</label>
        <input type="number"  th:field="*{precioUnitario}"  class="form-control" id="precioUnitario" placeholder="100.00">
    </div>
    <div class="form-group col-sm-3">
        <label    for="tamanio">Tama&ntilde;o</label>
          <input type="text" th:field="*{tamanio}" class="form-control" id="tamanio" placeholder="Tamaño">
    </div>
    <div class="form-group col-sm-3">
        <label for="marcas">Marcas</label>
        <select multiple class="form-control" id="marcas"  th:field="*{marcas}">
            <option th:each="listLookupsMar:${listLookupsMar}"
            
                    th:value="${listLookupsMar[0]}"
                    th:text="${listLookupsMar[1]}"
            
            />
           
        </select>
    </div>
    <input type="hidden" class="form-control" id="materialEstatus" value="0">
    <div class="form-group col-sm-12">
        <button type="submit" class="btn btn-primary next-step float-right">Agregar</button>
    </div>
</form>