<form class="row" style="display: none;" id="botonForm">
	<div class="form-group col-sm-4">
        <label>Descripci&oacute;n</label>
        <input type="text" class="form-control" id="botonDescripcion" placeholder="Boton tela principal">
    </div>
    <div class="form-group col-sm-4">
        <label>Unidad medida</label>
        <input type="text" class="form-control" id="botonUnidad" placeholder="Pieza">
    </div>
    <div class="form-group col-sm-4">
        <label>Modelo</label>
        <input type="text" class="form-control" id="botonModelo" placeholder="Abrigo">
    </div>
    <div class="form-group col-sm-3">
        <label>Clave proceso</label>
        <select multiple class="form-control" id="botonProceso">
            <option>Trazo</option>
            <option>Confeccion</option>
        </select>
    </div>
    <div class="form-group col-sm-3">
        <label>Precio Unitario</label>
        <input type="number" class="form-control" id="botonPrecio" placeholder="100.00">
    </div>
    <div class="form-group col-sm-3">
        <label>Tama&ntilde;o</label>
        <input type="number" class="form-control" id="botonTamano" placeholder="100">
    </div>
    <div class="form-group col-sm-3">
        <label for="status">Marcas</label>
        <select multiple class="form-control" id="botonMarcas">
            <option>MAR01 Nike</option>
            <option>MAR02 Adidas</option>
            <option>MAR03 Joma</option>
            <option>MAR04 I don't know</option>
            <option>MAR05 Palomitas acmen</option>
            <option>MAR06 Nike 2 xd</option>
        </select>
    </div>
    <input type="hidden" class="form-control" id="botonEstatus" value="2">
    <div class="form-group col-sm-12">
        <button type="button" class="btn btn-primary next-step float-right">Agregar</button>
    </div>
</form>