<form class="row" style="display: none;" id="botonForm">
	<div class="form-group col-sm-6">
        <label>Descripci&oacute;n</label>
        <input type="text" class="form-control" id="botonDescripcion" placeholder="Boton tela principal">
    </div>
    <div class="form-group col-sm-6">
        <label>Unidad medida</label>
        <input type="text" class="form-control" id="botonUnidad" placeholder="Pieza">
    </div>
    <div class="form-group col-sm-6">
        <label>Modelo</label>
        <input type="text" class="form-control" id="botonModelo" placeholder="Abrigo">
    </div>
    <div class="form-group col-sm-6">
        <label>Clave proceso</label>
        <select multiple class="form-control" id="botonProceso">
            <option>Trazo</option>
            <option>Confeccion</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label>Precio Unitario</label>
        <input type="number" class="form-control" id="botonPrecio" placeholder="100.00">
    </div>
    <input type="hidden" class="form-control" id="botonEstatus" value="2">
    <div class="form-group col-sm-12">
        <button type="button" class="btn btn-primary next-step float-right">Agregar</button>
    </div>
</form>