


<form class="row"  enctype="multipart/form-data"
    method="post">
    
    <div id="infoInventario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="identificar">
          
             <div class="modal-body" id="padre" >
             
           
             
           
               
            </div>
          
             <input type="hidden" name="_csrf" id="token"  th:value="${_csrf.token}"/>
        </div>
    </div>
</div>
    
    
    

</form>