<!-- Modal -->
<div class="modal fade" id="cartCatalogo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Prenda</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Clave Muestra</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Tela</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Talla</div>
                  </th>
                   <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase"></div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="https://www.dhresource.com/600x600/f2/albu/g9/M00/78/23/rBVaVV00MKyAdHLpAAmgDrTaVxk801.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Vestido</a></h5>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle"><strong>MU0001</strong></td>
                  <td class="border-0 align-middle"><strong>TEL0001</strong></td>
                  <td class="border-0 align-middle"><strong>XL</strong></td>
                  <td class="border-0 align-middle"><a href="#" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-times"></i></a></td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Solicitar pedido</button>
      </div>
    </div>
  </div>
</div>