<!-- Modal -->
<div class="modal fade" id="bajaMaterialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        ¿Deseas dar de baja el material?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancelar</button>
        <a id="btnDelteYes" class="btn btn-primary">Confirmar</a>
      </div>
    </div>
  </div>
</div>