<!-- Modal -->
<div class="modal fade" id="traspasoAgente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title" id="exampleModalLongTitle">Traspaso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="form-group col-sm-12">
		    <label for="vendedorTraspaso" style="color:#212529">Vendedor</label>
		    <select class="form-control" id="vendedorTraspaso">
		      <option>Juan Jose Origel</option>
		      <option>Manuel Fuentes</option>
		      <option>Fabian Lavalle</option>
		    </select>
		  </div>
		  <div class="form-group col-sm-12">
		    <label for="vendedorTraspasoCodigo" style="color:#212529">C&oacute;digo</label>
		    <input type="text" class="form-control" id="vendedorTraspasoCodigo" placeholder="1234">
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Traspasar</button>
      </div>
    </div>
  </div>
</div>