 <!-- Modal -->
<div class="modal fade" id="infoInventario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="container" style="margin-bottom: -22px;">
                    <div class="row">
                    
                        <div class="col-md-6 col-sm-6 mb-4">
                            <img class="img-fluid" src="https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                        </div>
                        <div class="col-md-6">
                        	<h3 class="my-3">Detalles</h3>
                            <table class="table table-bordered table-sm">
                                <thead>
                                	<tr>
                                        <th scope="col">Prenda</th>
                                        <td>Abrigo</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Modelo</th>
                                        <th>Modelo 0001</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">G&eacute;nero</th>
                                        <td>Unisex</td>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="col">Tela</th>
                                        <td>TEL7721</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Talla</th>
                                        <td>XL</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>