<!-- Modal -->
<div class="modal fade" id="addTraspaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Movimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body row">
                    <div class="form-group col-sm-6">
                        <label for="vendedorMovimiento">Vendedor</label>
                        <select class="form-control vendedorMovi selectCustom" id="vendedorMovi" data-live-search="true">
                        	<option value="error">Selecciones uno...</option>
							   <option value="Roberto Soliz">Roberto Soliz</option>
							   <option value="M&oacute;nica Perez">M&oacute;nica Perez</option>
							   <option value="Pedro Lopez">Pedro Lopez</option>
							   <option value="Amanda Miguel">Amanda Miguel</option>
							   <option value="Carlos D&iacute;az">Carlos D&iacute;az</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="empresaMovimiento">Empresa</label>
                        <select class="form-control selectCustom" id="empresaMovi" data-live-search="true">
                            <option value="error">Selecciona uno...</option>

                        </select>
                    </div>
                    <div class="form-group col-sm-11">
                        <label for="prendaMovimiento">Muestra</label>
                        <select class="form-control selectCustom" id="prendaMovi" data-live-search="true">
                            <option value="error">Selecciona uno...</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-1">
                        <label>A&ntilde;adir</label>
                        <a type="submit" class="btn btn-primary btn-circle btn-sm" id="BotonAgregarMuestra" onclick="agregarMiniTabla('tablaMuestra')"><i class="fas fa-plus"></i></a>
                    </div>
                    <div class="form-group col-sm-12">
                        <table class="table table-striped table-bordered" id ="tablaMuestra">
                            <thead>
                                <tr>
                                    <th>C&oacute;digo de barras</th>
                                    <th>Prendas</th>
                                    <th>Modelo Prenda</th>
                                    <th>C&oacute;digo Tela</th>
                                    <th></th>

                                </tr>
                            </thead>
                        
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="guardarNuevoMovimiento('tablaMuestra')">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>