<div class="modal fade" id="infoTraspaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo traspaso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
      <div class="modal-body">
		 <table class="table table-striped table-bordered" id="tablaTraspasoinfo">
										<thead>
											<tr>
												<th>Folio</th>
												<th>Pedido</th>
												<th>Vendedor</th>
												<th>Fecha de Salida</th>
												<th>Fecha de Entrega</th>
												<th></th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Esto</td>
												<td>Será</td>
												<td>Esto</td>
												<td>Será</td>
												<td>Esto</td>
												<td class="tdcenter">
													<button class="btn btn-info btn-circle btn-sm text-white popoverxd" data-container="body" data-toggle="popover" data-placement="top" data-content="Detalles"><i class="fas fa-info"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>