 <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="${'/'}" class="brand-link">
      <img src="dist/img/AltimaLogo.png"
           alt="Altima Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Altima</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a class="d-block" style="margin-top: -10px;margin-bottom: -10px;">Benito Camelo<small><br>Administrador</small></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a th:href="${'/'}" class="nav-link" id="navDashboard">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview" id="menuDiseno">
            <a class="nav-link" id="navDiseno">
              <i class="nav-icon flaticon-005-dress" style="margin-right: -3px;margin-left: 6px;"></i>
              <p>
                Dise&ntilde;o
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="${'catalogos'}" class="nav-link" id="navDiseno1">
                  <i class="nav-icon fas fa-user"></i>
                  <p>Cat&aacute;logos</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a th:href="${'expediente'}" class="nav-link" id="navExpediente">
              <i class="nav-icon fas fa-file-invoice"></i>
              <p>
                Expediente
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview" id="menuVenta">
            <a class="nav-link" id="navVenta">
              <i class="nav-icon fas fa-user-tie"></i>
              <p>
                Agentes de venta
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="${'clientes'}" class="nav-link" id="navVenta1">
                  <i class="nav-icon fas fa-user"></i>
                  <p>Clientes</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="${'prospectos'}" class="nav-link">
                  <i class="nav-icon fas fa-vote-yea"></i>
                  <p>Prospectos</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview" id="menuMuestrario">
            <a class="nav-link" id="navMuestrario">
              <i class="nav-icon flaticon-006-dummy" style="margin-right: -3px;margin-left: 6px;"></i>
              <p>
                Muestrario
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="${'muestras'}" class="nav-link" id="navMuestrario1">
                  <i class="nav-icon flaticon-007-dummy-1"></i>
                  <p>Muestras Pedido</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview" id="menuProduccion">
            <a class="nav-link" id="navProduccion">
              <i class="nav-icon flaticon-026-sewing-machine"></i>
              <p>
               	Producci&oacute;n
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="${'expediente-produccion'}" class="nav-link" id="navProduccion1">
                  <i class="nav-icon fas fa-clipboard-check"></i>
                  <p>Revisi&oacute;n pedidos</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>