<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/dist/js/demo.js}"></script>
<!-- Datatables Plugin-->
<script th:src="@{/dist/js/jquery.dataTables.min.js}"></script>
<!-- Bootstrap Datatables Plugin-->
<script th:src="@{/dist/js/dataTables.bootstrap4.min.js}"></script>
<!-- Datatables Responsive Mobile-->
<script th:src="@{/dist/js/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{/dist/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/dist/js/responsive.bootstrap.min.js}"></script>
<script th:src="@{/dist/js/dataTables.fixedColumns.min.js}"></script>
<script th:src="@{/dist/js/custom.js}"></script>