<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="navegacion-head :: header"></div>
    <title>Prendas | Altima</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Prendas&nbsp;<a th:href="@{/agregar-prenda}"><button class="bt btn-primary btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="right" data-content="Agregar"><i class="fas fa-plus"></i></button></a></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a th:href="@{'/'}">Dashboard</a></li>
                                <li class="breadcrumb-item active">Prendas</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-dark">
                                    <h3 class="card-title">Listado de prendas</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table tablaPrenda table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>C&oacute;digo</th>
                                                <th>Nombre</th>
                                                <th>Descripci&oacute;n</th>
                                                <th>Tipo</th>
                                                <th>Estatus</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="prenda:${prendas}">
                                                <td th:text="${prenda.idText}"></td>
                                                <td th:text="${prenda.nombrePrenda}"></td>
                                                <td th:text="${prenda.descripcionPrenda}"></td>
                                                
                                                
                                                <td>
                                                	<p th:each="tipo: ${tipos}" th:if="${tipo[0] == prenda.idFamiliaPrenda}" th:text="${ tipo[1] }"></p>
                                                </td>
                                                <td th:text="${prenda.estatusRecepcionMuestra}"></td>
                                                <td class="tdcenter">
                                                    <a th:href="@{detalle-prenda}" class="btn btn-info btn-circle btn-sm popoverxd" data-container="body" data-toggle="popover" data-placement="top" data-content="Ver detalles"><i class="fas fa-info"></i></a>
                                                    <a th:if="${prenda.estatusRecepcionMuestra == 'Definitivo'}" th:href="@{editar-prenda/} + ${prenda.IdPrenda}" data-container="body" data-toggle="popover" data-placement="top" data-content="Editar" class="btn btn-warning btn-circle btn-sm popoverxd"><i class="fas fa-pen"></i></a>
                                                    <a th:if="${prenda.estatusRecepcionMuestra == 'Prospecto'}" th:href="@{confirmar-prenda/} + ${prenda.IdPrenda}" data-container="body" data-toggle="popover" data-placement="top" data-content="Confirmar prenda" class="btn btn-success btn-circle btn-sm popoverxd"><i class="fas fa-check"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->

    <div th:replace="navegacion-scripts"></div>
    <script src="dist/js/tablaPrenda.js"></script>
   	<script>
		function changeClassById() {
			document.getElementById("iDiseno").className = "nav-icon flaticon-005-dress";
			document.getElementById("menuDiseno").className = "nav-item has-treeview menu-open";
			document.getElementById("navDiseno").className = "nav-link active";
			document.getElementById("navDiseno3").className = "nav-link active";
		}
		window.onload = changeClassById();
	</script>
</body>

</html>