<form class="row" id="muestraSolicitud">
    <div class="form-group col-sm-6">
        <label for="status">Modelo</label>
        <select class="form-control" id="muestraModelo" name="muestraModelo">
            <option value="">MOD0001 Modelo 1</option>
            <option value="">MOD0002 Modelo 2</option>
            <option value="">MOD0003 Modelo 3</option>
            <option value="">MOD0004 Modelo 4</option>
            <option value="">MOD0005 Modelo 5</option>
            <option value="">MOD0006 Modelo 6</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="status">Talla</label>
        <select class="form-control" id="muestraTalla" name="muestraTalla">
            <option value="">TAL0001 Talla CH</option>
            <option value="">TAL0002 Talla M</option>
            <option value="">TAL0003 Tela G</option>
            <option value="">TAL0004 Tela XL</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="apMaternoPersona">Cantidad</label>
        <input type="number" class="form-control" id="muestraCantidad" placeholder="12">
    </div>
    <div class="form-group col-sm-6">
        <label for="status">Tela</label>
        <select class="form-control"id="muestraTela" name="muestraTela">
            <option value="">TEL0001 Tela 1</option>
            <option value="">TEL0002 Tela 2</option>
            <option value="">TEL0003 Tela 3</option>
            <option value="">TEL0004 Tela 4</option>
            <option value="">TEL0005 Tela 5</option>
            <option value="">TEL0006 Tela 6</option>
        </select>
    </div>
    <div class="form-group col-sm-12">
        <button type="button" class="btn btn-primary next-step float-right">Agregar</button>
    </div>
    <div class="form-group col-sm-12">
        <table class="table tablexd table-striped">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Talla</th>
                    <th>Telas</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>MOD0001 Modelo 1</td>
                    <td>TAL0001 Talla CH</td>
                    <td>TEL0001 Tela 1, TEL0002 Tela 2,TEL0003 Tela 3</td>
                    <td>2</td>
                    <td><a class="btn btn-danger rounded-circle" style="color:#ffffff"><i class="fas fa-minus"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group col-sm-12">
        <button type="button" class="btn btn-primary next-step float-right">Enviar solicitud</button>
    </div>
</form>