<div class="table-responsive mailbox-messages">
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
            <tr>
                <td class="mailbox-name">Departamento</td>
                <td class="mailbox-subject"><b>Asunto</b></td>
                <td class="mailbox-date">01/01/2020</td>
                <td class="mailbox-attachment"><a class="btn btn-warning" style="border-radius:10px"><i class="fas fa-info"></i></a></td>
            </tr>
        </tbody>
    </table>
    <!-- /.table -->
</div>
<!-- /.mail-box-messages -->