<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <div th:insert="navegacion-nav"></div>
        <!-- /.navbar -->
        <!-- Modal -->
        <div th:insert="navegacion-logout"></div>
        <!-- Main Sidebar Container -->
        <div th:insert="navegacion-aside"></div>
        
    

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    
                 
                      
                  
                </div>
                <!-- /.container-fluid -->
                
                
                
                  </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-dark">
                                    <h3 class="card-title">Nuevo material</h3>
                                </div>
                                <div class="card-body">
                                   <div th:insert="form-reporte"></div>
                              		
                          
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            
            

            <!-- Main content -->
            <section class="content"    >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="card">
                                <div class="card-header bg-dark" th:switch="${link}"  >
                                    <h3 class="card-title">Reportes</h3>
                                  
                                     <a th:case="1" th:href="@{'/imprimirleo/'+${cata}+'/'+${palabra}+'/'+${fecha1}+'/'+${fecha2}+'/'+${link} (format=pdf)}" class="btn btn-dark popoverxd"
                                      data-container="body" target="_blank" data-toggle="popover" data-placement="right" data-content="Imprimir" style="border-radius: 35%;color:#ffc107!important"><i class="fas fa-print fa-sm"></i></a>
                                      
                                      
                                      
                                      <a th:case="2" th:href="@{'/imprimirleo/'+${cata}+'/'+ p +'/'+${fecha1}+'/'+${fecha2}+'/'+${link} (format=pdf)}" class="btn btn-dark popoverxd"
                                       data-container="body" target="_blank" data-toggle="popover" data-placement="right" data-content="Imprimir" style="border-radius: 35%;color:#ffc107!important"><i class="fas fa-print fa-sm"></i></a>
 
 
 
                                      <a th:case="3" th:href="@{'/imprimirleo/'+${cata}+'/'+${palabra}+'/'+f2+'/'+f1+'/'+${link} (format=pdf)}" class="btn btn-dark popoverxd"
                                         data-container="body" target="_blank" data-toggle="popover" data-placement="right" data-content="Imprimir" style="border-radius: 35%;color:#ffc107!important"><i class="fas fa-print fa-sm"></i></a>
 
 
 
 
                                      <a th:case="4" th:href="@{'/imprimirleo/'+${cata}+'/'+p+'/'+f1+'/'+f2+'/'+${link} (format=pdf)}" class="btn btn-dark popoverxd"
                                      data-container="body" target="_blank" data-toggle="popover" data-placement="right" data-content="Imprimir" style="border-radius: 35%;color:#ffc107!important"><i class="fas fa-print fa-sm"></i></a>
                                 </div>
                                <div class="card-body">
                                    <table class="table tablaPrenda table-striped table-bordered"  id="table-reporte"  >
                                        <thead>
                                            <tr>
                                                <th> Clave </th>
                                                <th> Nombre</th>
                                                <th> Descripcion </th>
                                                <th> Creado por: </th>
                                        
                                                 
                                             
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ca:${catalogoFiltro}">
                                                 <td th:text="${ca.idText}"></td>
                                                 <td th:text="${ca.nombreLookup}"></td>
                                                 <td th:text="${ca.descripcionLookup}"></td>
                                                 <td th:text="${ca.creadoPor}"></td>
                                              
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:insert="navegacion-footer"></div>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    
	
    	
	<!-- datatables -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
     <!-- Datatables Plugin-->
    <script src="dist/js/jquery.dataTables.min.js"></script>
    <script src="dist/js/dataTables.buttons.min.js"></script>
    <script src="dist/js/buttons.colVis.min.js"></script>
    <!-- Bootstrap Datatables Plugin-->
    <script src="dist/js/dataTables.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <script src="dist/js/TablaPrenda.js"></script>
    
     <script src="dist/js/sweetalert.js"></script>
    
    

    
    
    
    
    
 
	
	
</body>